<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/professional.png">
        <p>
            This site was created by Graham Francisco. It uses the mapbox API to gather the
            coordinates of desired location which will then be used to obtain the current weather
            forecast of that particular location using the weatherstack API.
        </p>
        <p>
            The main reason for creating this application is to learn more about the popular Express.js
            web app framework through the Node.js runtime environment platform.
        </p>
    </div>

    {{>footer}}
</body>

</html>